  <%= form_with(model: Comment.new, url: post_comments_path, method: :post ) do |f| %>
    <h3 class='text-center text-uppercase my-3'>Add a new Comment</h3>
    <div class='d-flex flex-column align-items-center'>
      <%= f.text_area :text, class: 'my-4' %>
      <%= f.submit 'Add Comment', class: 'btn btn-secondary'%>
    </div>
  <% end %>
