<div class = 'container'>
  <h1>User List</h1>
  <% @users.each do |user|%>
    <div class = 'd-grid'>
      <div class = 'border'>
        <%= image_tag (user.photo) %>
      </div>    
      <div class= 'd-flex align-items-center justify-content-between border'>
        <%= link_to user_path(user.id) do %>
        <h3> <%= user.name %> </h3>
        <% end %>
        <p> Number of posts:  <%= user.posts_counter %> </p>      
      </div>
    </div>
    
  <% end %>
</div>
